@font-face {
  font-family: "KemcoPixel";
  src: url("/src/assets/fonts/KemcoPixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  width: 300px;
  font-family: "KemcoPixel", "Press Start 2P", sans-serif;
  line-height: 100%;
  font-size: 46px;
  text-shadow: -2px 0px #222044, 0px 2px #222044, 2px 0px #222044,
    0px -2px #222044;
  -webkit-text-stroke: 2px #222044;
  text-shadow: 0px 6px #6626ff;
  text-align: center;
  word-wrap: break-word;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  overflow: hidden;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1024px;
  height: 1208px;
  margin: 0 auto;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  overflow: hidden;
  position: relative;

  animation: moveBackground 50s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -1024px 0;
  }
  100% {
    background-position: 0 0;
  }
}

h1 {
  font-family: "KemcoPixel", sans-serif;
  font-size: 44px;
}
h2 {
  font-family: "KemcoPixel", sans-serif;
  font-size: 34px;
}
h3 {
  font-family: "KemcoPixel", sans-serif;
  font-size: 30px;
}
h4 {
  font-family: "KemcoPixel", sans-serif;
  font-size: 28px;
}
h5 {
  font-family: "KemcoPixel", sans-serif;
  font-size: 24px;
}
.p1 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.p2 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.p3 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.caption {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
button {
  border: 0;
  background-color: transparent;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  background-color: transparent;
  border: 0;
  color: #fff;
}
button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
